.box {
  border: 2px solid #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  width: 380px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box button {
  width: 180px;
  align-self: center;
}

.flex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputForm {
  height: 36px;
  border-radius: 6px;
  padding: 8px;
}

.errorMessage {
  position: absolute;
  top: 64px;
  left: 0px;
  color: red;
}
